.imgg{
    word-wrap: break-word;
  }
  .handleclick{
    display: none;
  }
  .forimg{
    background-image: url('./imgs/canadapic.jpg');
    padding-bottom: 20px;
    color: black;
    opacity: 1.5;
    background-attachment:fixed;
  }
  .h33{
    font-size: 16px;
  }
  .nav-a{
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
  }
  .nav-a > a> button, .btn{
    color: white;
    border: none;
    background-color:inherit;
    cursor: pointer;
    padding: 5px 8px;
    margin-top: 20px;
  }
  .nav-a > a> button:hover{
     border: 1px solid white;
    
  }
  .btn:hover{
    border: 1px solid white;
  }
  
  a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-top: 3px solid red ;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .another-section{
    text-align: center;
    background-image: url('./imgs/canada.jpg');
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    margin-top: 0%;
    color: black;
    opacity: 1.5;
   }
   .another-section > h3{
     padding-bottom: 40px;
     font-size: 30px;
     color: white;
   }
   .another-section > h1{
     padding-bottom: 10px;
     font-size: 40px;
     color: white;
   }
   .another-section > a > button{
     color: white;
     background-color: orange;
     border: none;
     padding: 12px 30px;
     border-radius: 30px;
     font-size: 17px;
     cursor: pointer;
     margin-top: 20px;
   }
   .another-section > a > button:hover{
     background-color: rgb(72, 70, 70);
     color: white;
   }
   .process{
    background-image: url('./imgs/canada-visa.jpg');
    background-attachment: fixed;
    background-color: black;
    color: white;
    opacity: 1.6;
    display: flex;
   
  }
  .immigration{
    padding-top: 150px;
    padding-left: 50px;
    padding-bottom: 40px;
  }
  .immigration > hr{
    margin-top: 40px;
    width: 500px;
  }
  .immigration > h1{
    padding-top: 10px;
    font-size: 25px;
  }
  .immigration > p{
    padding-top: 20px;
    font-size: 17px;
    color: rgb(176, 172, 172);
  }
  .immigration > h4{
    padding-top: 30px;
    font-size: 20px;
  }
  .other-side{
    margin-top: 370px;
    margin-left: 100px;
    font-size: 22px;
    
  }
  @media only screen and (max-width: 580px) {
    .immigration > hr{
      margin-top: 20px;
      width: 400px;
    }
}